@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

$green: #86BB71;
$blue: #94C2ED;
$orange: #E38968;
$gray: #92959E;

// *,
// *:before,
// *:after {
//     box-sizing: border-box;
// }

body {
    background: #c18ac4;
    font: 14px/20px "Lato", Arial, sans-serif;
    padding: 40px 0;
    color: white;
}