/* body {
    background-color: rgb(199, 202, 174);
}

.chatDisplay {
    width: 300px;
    height: 300px;
    background: rgb(190, 230, 164);
    display: flex;
    margin-left: 50px;
    overflow-y: auto;
    overflow-wrap: break-word;
}

.chatboard {
    display: flex;
} */