@media screen and (max-width: 800px) {
    .innerContainerMain > .chatboard {
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        margin: 0vh 2vw;
        justify-content: center;
        align-items: center;
        margin-top: 1vh;
        position: relative;
    }
    .chatboard > .chatCategory {
        width: 100%;
        opacity: .8;
        border-radius: 15px;
        background-color: #b5dee8;
        overflow: auto;
        border: 2px solid #000000;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: fit-content;
    }

    .chatCategory > .chatCategoryList {
        display: flex;
        flex-direction: row;
        border-radius: 15px;
        padding: 10px;
    }

    .allChatCategories {
        display: flex;
        flex-direction: row;
    }

    .chatCategoryList h3 {
        width: max-content;
        text-decoration: underline;
        margin: 5px;
    }

    .formContainer {
        width: 1000px
    }

    .formContainer > form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    #outerCategoryContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}

@media screen and (min-width: 801px) {
    .allChatCategories {
        display: flex;
        flex-direction: column;
        overflow: auto;
        border-radius: 15px;
    }
    .chatboard {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1vh;
        position: relative;
    }
    
    .chatCategory {
        display: flex;
        flex-direction: column;
        opacity: .8;
        margin: 10px;
        border-radius: 15px;
        background-color: #b5dee8;
        height: 80vh;
        overflow: auto;
        border: 2px solid #000000;
        min-width: 20%;
    }
    
    .chatCategory div {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        height: fit-content;
        width: fit-content;
        gap: 5px;
    }
    
    .chatCategory > div > form > div:nth-child(1) {
        display: flex;
        flex-direction: column;
        padding-top: 10px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    
    .chatCategoryList {
        border-radius: 15px;
        padding: 10px;
        height: min-content;
    }
    
    .chatCategoryList > h3 {
        padding-left: 20px;
        padding: 10px;
    }
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

* {
    font-family: Montserrat, sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body {
    background-color: rgb(199, 202, 174);
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    background-image: url("https://gifdb.com/images/high/aesthetic-anime-pixelated-background-bnuuk8wf00lrrcvf.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    scrollbar-gutter: stable both-edges;
    overflow: auto;
}


.welcometext {
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0;
    padding: 5px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px;
    color: #2c2c2c;
    text-align: center;
    background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v1003-71c-x.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=4e6ef20121f4996cef83ee6eb410c841");
    box-shadow: 0px 0px 5px 0px #212121;
    width: fit-content;
    height: fit-content;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 2px solid #000000;
    border-bottom: none;
}

.welcometext > div > h3 {
    background: linear-gradient(90deg, rgba(0, 217, 233, 0.865) 0%, rgba(48, 45, 255, 0.51) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    box-shadow: -4px 4px 1px 1px #212121;
    border-radius: 5px;
    margin: 0.5rem;
    padding: 0px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    background: linear-gradient(90deg, rgba(3, 191, 203, 0.8) 0%, rgba(255, 255, 255, 0.8) 100%);
    background-size: 100%;
    opacity: .8;
    margin: 1vh 1vw;
    height: fit-content;
    border-radius: 15px;
    box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
    color: #000000;
    min-width: fit-content;
    overflow-x: auto;
    overflow-y: hidden;
    border: 2px solid #000000;
}

.navbar > .leftNav > h2 {
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}

.leftNav {
    padding-left: 30px;
}

.rightNav {
    padding-right: 30px;
}

.rightNav > ul {
    display: flex;
    gap: 20px;
}

.navButton {
    background-color: #cef6f9;
    border: 1px solid #03BFCB;
    border-radius: 5px;
    color: #03BFCB;
    font-weight: 300;
    padding: 10px 25px;
    cursor: pointer;
    transition: scale 0.2s;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.navButton:hover {
    scale: 1.1;
}

.navButton:active {
    scale: 1;
}

li {
    list-style-type: none;
}

.chatDisplay {
    width: 80%;
    height: 80%;
    background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v1003-71c-x.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=4e6ef20121f4996cef83ee6eb410c841");
    background-size: 100%;
    opacity: .95;
    overflow-y: auto;
    overflow-wrap: break-word;
    margin: auto;
    padding: 20px;
    border-radius: 15px;
}



.allChatCategories::-webkit-scrollbar {
    display: none;
}

.chatBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0px 30px;
    border-radius: 10px;
}

.innerChatBox {
    display: flex;
    flex-direction: column;
}

.chatDisplay,
.chatControl {
    width: 100%;
    border-radius: 10px;
}

.chatDisplay {
    overflow-y: auto;
    height: 60vh;
    border-radius: 10px;
    border: 2px solid #000000;
}

@keyframes move-from-offscreen-left {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

.chatControl {
    height: 15vh;
    animation: move-from-offscreen-left 0.8s ease-in-out;
}

.chatDisplay::-webkit-scrollbar {
    display: none;
}

.chatroom > h3 {
    min-width: min-content;
    white-space: nowrap;
    margin-bottom: 0;
    margin-top: auto;
    text-decoration: underline;
}

.chatControl {
    margin-top: 10px;
    display: flex;
    gap: 15px;
    width: 100%;
    align-items: center;
}

.chatControl > textarea {
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    font-size: 1.5rem;
    opacity: .8;
    border: 2px solid #000000;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    background-color: #eed7da;
    transition: border 0.2s;
}

.chatControl > textarea:active, .chatControl > textarea:focus {
    border: 2px solid #03BFCB;
}

.chatControl > button {
    display: flex;
    min-width: 5vw;
    justify-content: center;
    min-height: 1rem;
    font-size: 21px;
    padding: 30px 20px;
    min-width: auto;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    background-color: #03BFCB;
    cursor: pointer;
    transition: scale 0.2s;
    &:hover {
        scale: 1.1;
    }
    &:active {
        scale: 1;
    }
}

.newRoomDiv {
    display: none;
}

@keyframes move-up {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

.userMessage {
    background: rgba(85, 85, 85, 0.4);
    border: 2px solid black;
    padding: 10px;
    margin: 5px;
    display: flex;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    animation: move-up 0.3s ease-in-out;
    animation-fill-mode: forwards;
}

.usernameDisplay {
    background: #eed7da;
    border-radius: 50%;
    padding: 25px 18px;
    align-self: flex-start;
    cursor: pointer;
    transition: scale 0.2s;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    &:hover {
        scale: 1.1;
    }
}

.messageDisplay {
    align-self: center;
    word-wrap: break-word;
    border-radius: 10px;
    color: white;
    font-size: 1.5rem;
    text-shadow: 1px 1px 1px black;
}

.chatroom {
    padding: 20px;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    border-left: 0px;
}

.chatroom:hover {
    cursor: pointer;
    background: lightblue;
    border-left: 5px solid salmon;
}

.activeRoom {
    background: rgb(166, 213, 243);
}

.systemMessage {
    text-align: center;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    font-weight: 550;
    text-decoration: underline;
    text-shadow: 1px 1px 1px black;
    font-size: 1rem;
    color: #2d9dff;
    background: #3131314f;
    border: 2px solid black;
    border-radius: 5px;
    padding: 0.5rem;
    margin: 0.5rem;
    box-shadow: 0px 0px 5px 0px #212121;
}
