#root {
    width: 95%;
}

body {
    background-color: rgb(199, 202, 174);
}

.welcometext {
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0;
    padding: 5px;
    text-decoration: underline;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px;
    color: #ffffff;
    text-align: center;
    background-color: #4040407c;
    box-shadow: 0px 0px 5px 0px #212121;
    width: fit-content;
    height: fit-content;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 2px solid #000000;
    border-bottom: none;
}

.welcometext > h3 {
    margin: 0px;
    padding: 0px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: linear-gradient(90deg, rgba(3, 191, 203, 0.8) 0%, rgba(255, 255, 255, 0.8) 100%);
    background-size: 100%;
    opacity: .8;
    margin: auto;
    min-height: fit-content;
    border-radius: 15px;
    box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
    color: #000000;
    min-width: fit-content;
    overflow-x: auto;
    overflow-y: hidden;
    border: 2px solid #000000;
}

.navbar > .leftNav > h2 {
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}

.leftNav {
    padding-left: 30px;
}

.rightNav {
    padding-right: 30px;
}

.rightNav > ul {
    display: flex;
    gap: 20px;
}

.navButton {
    background-color: #cef6f9;
    border: 1px solid #03BFCB;
    border-radius: 5px;
    color: #03BFCB;
    font-weight: 300;
    padding: 10px 25px;
    cursor: pointer;
    transition: scale 0.2s;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.navButton:hover {
    scale: 1.1;
}

.navButton:active {
    scale: 1;
}

li {
    list-style-type: none;
}

.chatDisplay {
    width: 80%;
    height: 80%;
    background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v1003-71c-x.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=4e6ef20121f4996cef83ee6eb410c841");
    background-size: 100%;
    opacity: .95;
    overflow-y: auto;
    overflow-wrap: break-word;
    margin: auto;
    padding: 20px;
    border-radius: 15px;
}

.chatboard {
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 10px;
    border-radius: 15px;
}

.chatCategory {
    width: 30%;
    opacity: .8;
    margin: 10px;
    border-radius: 15px;
    background-color: #b5dee8;
    height: 70vh;
    overflow: auto;
    border: 2px solid #000000;
}

.chatCategory > div > form > div:nth-child(1) {
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.chatCategoryList {
    height: 90%;
    border-radius: 15px;
    padding: 10px;
    overflow-y: auto;
}

.chatCategoryList > h3 {
    padding-left: 20px;
    padding: 10px;
}

.allChatCategories {
    height: 70%;
    overflow-y: auto;
    border-radius: 15px;
}

.allChatCategories::-webkit-scrollbar {
    display: none;
}

.chatBox {
    width: 80%;
    padding-right: 30px;
    border-radius: 10px;
}

.innerChatBox {
    display: flex;
    flex-direction: column;
}

.chatDisplay,
.chatControl {
    width: 100%;
    border-radius: 10px;
}

.chatDisplay {
    overflow-y: auto;
    height: 60vh;
    border-radius: 10px;
    border: 2px solid #000000;
}

@keyframes move-from-offscreen-left {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

.chatControl {
    height: 15vh;
    animation: move-from-offscreen-left 0.8s ease-in-out;
}

.chatDisplay::-webkit-scrollbar {
    display: none;
}

.chatroom > h3 {
    margin-bottom: 0;
    margin-top: auto;
}

.chatControl {
    margin-top: 10px;
    display: flex;
    gap: 15px;
    width: 100%;
    align-items: center;
}

.chatControl > textarea {
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    font-size: 1.5rem;
    opacity: .8;
    border: 2px solid #000000;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    background-color: #eed7da;
    transition: border 0.2s;
}

.chatControl > textarea:active, .chatControl > textarea:focus {
    border: 2px solid #03BFCB;
}

.chatControl > button {
    display: flex;
    min-width: 5vw;
    justify-content: center;
    min-height: 1rem;
    font-size: 21px;
    padding: 30px 20px;
    min-width: auto;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    background-color: #03BFCB;
    cursor: pointer;
    transition: scale 0.2s;
    &:hover {
        scale: 1.1;
    }
    &:active {
        scale: 1;
    }
}

.newRoomDiv {
    display: none;
}

@keyframes move-up {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

.userMessage {
    background: rgba(85, 85, 85, 0.4);
    border: 1px solid black;
    padding: 10px;
    margin: 5px;
    display: flex;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    animation: move-up 0.3s ease-in-out;
    animation-fill-mode: forwards;
}

.usernameDisplay {
    background: #eed7da;
    border-radius: 50%;
    padding: 25px 18px;
    align-self: flex-start;
    text-decoration: underline;
    transition: scale 0.2s;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    &:hover {
        scale: 1.1;
    }
}

.messageDisplay {
    align-self: center;
    word-wrap: break-word;
    border-radius: 10px;
    color: white;
    font-size: 1.5rem;
    text-shadow: 1px 1px 1px black;
}

.chatroom {
    padding: 20px;
    border-radius: 10px;
    transition: all 0.2s;
}

.chatroom:hover {
    cursor: pointer;
    background: lightblue;
    border-left: 5px solid salmon;
}

.activeRoom {
    background: rgb(166, 213, 243);
}