#root {
    width: 95%;
}

body {
    background-color: rgb(199, 202, 174);
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-image: url("https://img.freepik.com/free-vector/watercolor-blue-background_23-2149317517.jpg");
    background-size: 100%;
    margin: auto;
    max-height: 70px;
    border-radius: 15px;
    box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
    color: #B3B8CD;
}

.leftNav {
    padding-left: 30px;
}

.rightNav {
    padding-right: 30px;
}

.rightNav>ul {
    display: flex;
    gap: 20px;
}

.navButton {
    background-color: #cef6f9;
    border: 1px solid #03BFCB;
    border-radius: 5px;
    color: #03BFCB;
    font-weight: 300;
    padding: 10px 25px;
}

h3 {
    margin-top: 0;
}

li {
    list-style-type: none;
}

.chatDisplay {
    width: 80%;
    height: 80%;
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/002/284/732/small/wedding-invitation-set-with-creative-minimalist-hand-painted-abstract-watercolor-background-vector.jpg");
    background-size: 100%;
    overflow-y: auto;
    overflow-wrap: break-word;
    margin: auto;
    border: 10px;
    padding: 20px;
    border-radius: 15px;
}

.chatboard {
    width: 100%;
    height: 100%;
    display: flex;
    /* margin-left: 50px; */
    margin-top: 10px;
    border-radius: 15px;
}

.chatCategory {
    width: 30%;
    padding-left: 10px;
    border-radius: 15px;
}

.chatCategoryList {
    height: 300px;
    border-radius: 15px;
    /* overflow-y: auto; */
}

.chatCategoryList>h3 {
    padding-left: 20px;
}

.allChatCategories {
    height: 300px;
    overflow-y: auto;
    border-radius: 15px;
}

.allChatCategories::-webkit-scrollbar {
    display: none;
}

.chatBox {
    width: 80%;
    padding-right: 30px;
    border-radius: 10px;
}

.chatDisplay,
.chatControl {
    width: 100%;
    border-radius: 10px;
}

.chatDisplay {
    height: 60vh;
    border-radius: 10px;
}

.chatControl {
    height: 15vh;
}

.chatDisplay::-webkit-scrollbar {
    display: none;
}

.chatControl {
    margin-top: 10px;
    display: flex;
    gap: 15px;
}

.chatControl>textarea {
    width: 80%;
    border-radius: 10px;
    padding: 10px;
}

.chatControl>button {
    width: 20%;
    font-size: 21px;
    padding: 30px 20px;
    border: none;
    border-radius: 10px;
}

.newRoomDiv {
    display: none;
}

.userMessage {
    background: lawngreen;
    border: 1p solid black;
    padding: 10px;
    display: flex;
    gap: 10px;
    border-radius: 10px;
}

.usernameDisplay {
    background: red;
    border-radius: 50%;
    padding: 25px 18px;
    align-self: flex-start;
}

.messageDisplay {
    background: gold;
    align-self: center;
    word-wrap: break-word;
    border-radius: 10px;
}

.chatroom {
    padding: 20px;
    border-radius: 10px;
}

.chatroom>h3 {
    margin-bottom: 0;
}

.chatroom:hover {
    cursor: pointer;
    background: lightblue;
    padding-left: 25px;
    border-left: 5px solid salmon;
    transition: all 0.2s;
}

.activeRoom {
    background: lightskyblue;
}

.topicDiv {
    display: flex;
    gap: 5px;
    margin-top: 10px;
}

#roomName {
    width: 70%;
    border-radius: 6px;
    border: none;
    padding-left: 6px;
}

.topicDiv > input[type=submit] {
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
}

.topicDiv > input[type=submit]:hover {
    cursor: pointer;
    background: #cef6f9;
}